  <!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div id="logo">
            <h1><a href="index.html"><span>Control</span>Conjunto</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="adminanuncios">Anuncios</a></li>
                <li class="dropdown">
                    <a href="#"><span>Gestion</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="admindocumentos">Documentos</a></li>
                        <li><a href="adminfinanzas">Finanzas</a></li>
                        <li><a href="adminpagos">Pagos</a></li>
                        <li><a href="admintransparencia">Transparencia</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"><span>Areas</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="adminregistro">Registro</a></li>
                        <li><a href="adminunidades">Unidades</a></li>
                        <li><a href="adminusuarios">Usuarios</a></li>
                        <li><a href="adminareascomunes">Areas Comunes</a></li>
                        <li><a href="adminparqueadero">Parqueadero</a></li>
 
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="adminencuestas">Encuestas</a></li>
                <li><a class="nav-link scrollto" href="admintickets">Tickets</a></li>
                <li><a class="nav-link scrollto" href="adminvisitas">Visitantes</a></li>
                <li><a class="nav-link scrollto" href="adminservicios">Servicios</a></li>
                <li class="dropdown">
                    <a href="#"><span>Perfil</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="adminconfiguracion">Configuracion</a></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
        <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                Dropdown button
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>