 <!-- ======= Blog Section ======= -->
<section id="blog" class="padd-sectio">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Latest posts</h2>
            <p class="separator">Integer cursus bibendum augue ac cursus .</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                    <a href="#"><img src="assets/img/blog/blog-image-1.jpg" alt="img"></a>
                    <div class="content-blog">
                        <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                        <span>05, juin 2017</span>
                        <a class="float-end readmore" href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                    <a href="#"><img src="assets/img/blog/blog-image-2.jpg" class="img-responsive" alt="img"></a>
                    <div class="content-blog">
                        <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                        <span>05, juin 2017</span>
                        <a class="float-end readmore" href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="block-blog text-left">
                    <a href="#"><img src="assets/img/blog/blog-image-3.jpg" class="img-responsive" alt="img"></a>
                    <div class="content-blog">
                        <h4><a href="#">whats isthe difference between good and bat typography</a></h4>
                        <span>05, juin 2017</span>
                        <a class="float-end readmore" href="#">read more</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Blog Section -->
<!-- ======= Newsletter Section ======= -->
<section id="newsletter" class="newsletter text-center">
    <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-6">
                    <form class="d-flex" method="POST" action="#">
                        <input type="email" class="form-control " placeholder="Email Adress" name="email">
                        <button type="submit" class="btn btn-default"><i class="bi bi-location-arrow"></i>Subscribe</button>
                    </form>
                </div>
            </div>

            <ul class="list-unstyled">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>

        </div>
    </div>
</section><!-- End Newsletter Section -->