@page "/homevigilante"
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="padd-section text-center">
    <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

            <div class="col-md-12">

                <div class="testimonials-content">
                    <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-inner" role="listbox">
                            <div class="top-top">
                                <h2>Control Ingreso</h2>
                                <p>
                                    Gestion de Total
                                </p>
                                <h4>Kimberly Tran<span>manager</span></h4>

                            </div>

                        </div>                        

                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Testimonials Section -->
<div class="row">
    <div class="col-md-12 col-lg-6">
        <section id="testimonials" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center">

                    <div class="col-md-8">
                        <div class="testimonials-content">
                            <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item  active">
                                        <div class="top-top">
                                            <h2>Control Ingreso</h2>
                                            <p>
                                                Gestion de Total
                                            </p>
                                            <h4>Kimberly Tran<span>manager</span></h4>

                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="top-top">

                                            <h2>Our Users Speack volumes us</h2>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                                specimen book. It has survived not only five centuries.
                                            </p>
                                            <h4>Henderson<span>manager</span></h4>

                                        </div>
                                    </div>
                                    <div class="carousel-item ">
                                        <div class="top-top">

                                            <h2>Our Users Speack volumes us</h2>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                                specimen book. It has survived not only five centuries.
                                            </p>
                                            <h4>David Spark<span>manager</span></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="btm-btm">

                                    <ul class="list-unstyled carousel-indicators">
                                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Testimonials Section -->

    </div>
    <div class="col-md-12 col-lg-6">
        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="padd-section text-cente">

            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">

                    <h2>Meet With Price</h2>
                    <p class="separator">Integer cursus bibendum augue ac cursus .</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-md-12 col-lg-6">
                        <div class="block-pricing">
                            <div class="pricing-table">
                                <h4>basic</h4>
                                <h2>$29</h2>
                                <ul class="list-unstyled">
                                    <li><b>4 GB</b> Ram</li>
                                    <li><b>7/24</b> Tech Support</li>
                                    <li><b>40 GB</b> SSD Cloud Storage</li>
                                    <li>Monthly Backups</li>
                                    <li>Palo Protection</li>
                                </ul>
                                <div class="table_btn">
                                    <a href="#" class="btn"><i class="bi bi-cart"></i> Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
                        <div class="block-pricing">
                            <div class="pricing-table">
                                <h4>PERSONAL</h4>
                                <h2>$29</h2>
                                <div class="col-md-12">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">First</th>
                                                <th scope="col">Last</th>
                                                <th scope="col">Handle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mark</td>
                                                <td>Otto</td>
                                                <td>mdo</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Jacob</td>
                                                <td>Thornton</td>
                                                <td>fat</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td colspan="2">Larry the Bird</td>
                                                <td>twitter</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="table_btn">
                                    <a href="#" class="btn"><i class="bi bi-cart"></i> Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </section><!-- End Pricing Section -->
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center">

                    <div class="col-md-8">

                        <div class="testimonials-content">
                            <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">

                                <div class="carousel-inner" role="listbox">

                                    <div class="carousel-item  active">
                                        <div class="top-top">

                                            <h2>Our Users Speack volumes us</h2>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                                specimen book. It has survived not only five centuries.
                                            </p>
                                            <h4>Kimberly Tran<span>manager</span></h4>

                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="top-top">

                                            <h2>Our Users Speack volumes us</h2>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                                specimen book. It has survived not only five centuries.
                                            </p>
                                            <h4>Henderson<span>manager</span></h4>

                                        </div>
                                    </div>

                                    <div class="carousel-item ">
                                        <div class="top-top">

                                            <h2>Our Users Speack volumes us</h2>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                                                specimen book. It has survived not only five centuries.
                                            </p>
                                            <h4>David Spark<span>manager</span></h4>

                                        </div>
                                    </div>

                                </div>

                                <div class="btm-btm">

                                    <ul class="list-unstyled carousel-indicators">
                                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active"></li>
                                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="1"></li>
                                        <li data-bs-target="#carousel-example-generic" data-bs-slide-to="2"></li>
                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Testimonials Section -->
    </div>
    <div class="col-md-12 col-lg-6">
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-center">

                    <div class="col-md-12">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </section><!-- End Testimonials Section -->
    </div>
</div>
<!-- ======= Testimonials Section ======= -->
