 <!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
        <h1>Bienvenido a ControlConjunto</h1>
        <h2>Administracion de conjuntos residenciales y más...</h2>
        <img src="assets/img/FondoBild.jpg" width="760" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        <a href="#get-started" class="btn-get-started scrollto">Comenzar</a>
        <div class="btns">
            <a href="#"><i class="fa fa-apple fa-3x"></i> App Store</a>
            <a href="#"><i class="fa fa-play fa-3x"></i> Google Play</a>
            <a href="#"><i class="fa fa-windows fa-3x"></i> windows</a>
        </div>
    </div>
</section><!-- End Hero Section -->
<!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="assets/img/about-img.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-7 col-lg-5">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2><span>eStartup</span>UI Design Mobile </h2>
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
              </p>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>Creative Design</li>
                <li><i class="vi bi-chevron-right"></i>Retina Ready</li>
                <li><i class="vi bi-chevron-right"></i>Easy to Use</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
                <li><i class="vi bi-chevron-right"></i>Unlimited Features</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->
